In [1]:
import pandas as pd

In [3]:
df_one = pd.read_csv('Resources/hawaii_stations.csv')
df_two = pd.read_csv('Resources/hawaii_measurements.csv')

In [33]:
df_one.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [38]:
df_two = df_two.fillna(df_two.mean())

In [39]:
df_two.isnull().sum()

station    0
date       0
prcp       0
tobs       0
dtype: int64