In [1]:
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float


import pandas as pd

In [2]:
df_one = pd.read_csv('Resources/clean_hawaii_stations.csv')
df_two = pd.read_csv('Resources/clean_hawaii_measurements.csv')

In [3]:
df_one.head(2)

       station                  name  latitude  longitude  elevation
0  USC00519397  WAIKIKI 717.2, HI US   21.2716  -157.8168        3.0
1  USC00513117  KANEOHE 838.1, HI US   21.4234  -157.8015       14.6

In [10]:
df_two.head(2)

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63

In [6]:
engine = create_engine("sqlite:///hawaii.sqlite")

In [7]:
conn = engine.connect()

In [8]:
Base = declarative_base()

In [9]:
class Station (Base):
    __tablename__ = "stations"
    id = Column(Integer, primary_key=True)
    station = Column(String(15))
    name = Column(String(200))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
#     def __repr__(self):
#        return f”id={self.id}, stations={self.station}”

In [11]:
class Measurement (Base):
    __tablename__ = "measurement"
    id = Column(Integer, primary_key=True)
    station = Column(String(15))
    date = Column(String(10))
    prcp = Column(Float)
    tobs = Column(Integer)

In [12]:
Base.metadata.create_all(engine)

In [13]:
stations_dict = df_one.to_dict(orient='records')

In [14]:
measurements_dict = df_two.to_dict(orient='records')

In [15]:
print(stations_dict[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [17]:
print(measurements_dict[:10])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-06', 'prcp': 0.16064353974479206, 'tobs': 73}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}, {'station': 'USC00519397', 'date': '2010-01-08', 'prcp': 0.0, 'tobs': 64}, {'station': 'USC00519397', 'date': '2010-01-09', 'prcp': 0.0, 'tobs': 68}, {'station': 'USC00519397', 'date': '2010-01-10', 'prcp': 0.0, 'tobs': 73}, {'station': 'USC00519397', 'date': '2010-01-11', 'prcp': 0.01, 'tobs': 64}]

In [18]:
metadata = MetaData(bind=engine)
metadata.reflect()

In [19]:
stations_table = sqlalchemy.Table('stations', metadata, autoload=True)
measurement_table = sqlalchemy.Table('measurement', metadata, autoload=True)

In [20]:
conn.execute(stations_table.delete())

In [21]:
conn.execute(measurement_table.delete())

In [22]:
conn.execute(stations_table.insert(), stations_dict)
conn.execute(measurement_table.insert(), measurements_dict)

In [23]:
conn.execute("select * from stations limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', 21.2716, -157.8168, 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', 21.4992, -158.0111, 306.6)]

In [24]:
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', 0.08, 65),
 (2, 'USC00519397', '2010-01-02', 0.0, 63),
 (3, 'USC00519397', '2010-01-03', 0.0, 74),
 (4, 'USC00519397', '2010-01-04', 0.0, 76),
 (5, 'USC00519397', '2010-01-06', 0.16064353974479206, 73)]