In [1]:
import pandas as pd

In [2]:
df_one = pd.read_csv('Resources/hawaii_stations.csv')
df_two = pd.read_csv('Resources/hawaii_measurements.csv')

In [5]:
df_one.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [6]:
df_one.isnull().sum()

station      0
name         0
latitude     0
longitude    0
elevation    0
dtype: int64

In [7]:
df_one.to_csv('clean_hawaii_stations.csv', index=False)

In [ ]:
df_two = df_two.fillna(df_two.mean())

In [ ]:
df_two.isnull().sum()